@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

:root{ /*CSS Variables*/
  --dblue: #0059ff;
  --mblue: #00a2ff;
  --cyan: #00eeff;
  --bluebkg: rgb( 33, 41, 66 );
  --halfway: #00ffbf;
  --ngreen: #00ff22;
  --teal: #00ff88;
}

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.headline{
  top: 90px;
  left: 10%;
  position: absolute;
}
.headline h1{
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--cyan); 
  font-size: 90px;
  text-align: right;

}

.headline h2{
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--mblue); 
  font-size: 80px;
}

.container{
  margin: 0;
  top: 120px;
  left: 70%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid var(--mblue);
  border-bottom: 10px solid var(--teal);
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(2, 5, 53);
}

.regContainer{
  margin: 0;
  top: 50px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid var(--mblue);
  border-bottom: 10px solid var(--teal);
  width: 400px;
  height: 600px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(2, 5, 53);
}

.box h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--mblue); 
  font-size: 50px;
  margin-top:21px;;
}

.box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--mblue); 
  font-size: 18px;
  margin-top:-5px;;
}

.box h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.box h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-top: -10px;
  margin-bottom: 45px;
}

.box input[type = "text"], .box input[type = "email"],.box input[type = "password"] {
  display: block;
  margin: 20px auto;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}

.box input[type = "text"]:focus, .box input[type = "text"]:focus, .box input[type = "password"]:focus {
  border: 1px solid #79A6FE;
  
}

.regBox h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--mblue); 
  font-size: 50px;
  margin-top:21px;;
}

.regBox h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--mblue); 
  font-size: 18px;
  margin-top:-5px;;
}

.regBox h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.regBox h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-top: -10px;
  margin-bottom: 45px;
}

.regBox input[type = "text"], .regBox input[type = "email"], .regBox input[type = "password"] {
  display: block;
  margin: 20px auto;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}

.regBox input[type = "text"]:focus, .regBox input[type = "email"]:focus, .regBox input[type = "password"]:focus {
  border: 1px solid #79A6FE;
  
}

a{
  color: var(--cyan);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 label input[type = "checkbox"] {
  display: none; /* hide the default checkbox */
}

/* style the artificial checkbox */
label span {
  height: 13px;
  width: 13px;
  border: 2px solid #464d64;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  float: left;
  left: 7.5%;
}

.btn1 {
  border:0;
  background: var(--mblue);
  color: #ffffff;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}

.btn1:hover {
  background: var(--dblue);
}

.regBtn1 {
  border:0;
  background: var(--mblue);
  color: #ffffff;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 83%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}

.regBtn1:hover {
  background: var(--dblue);
}

.rmb {
  position: absolute;
  margin-left: -24%;
  margin-top: 0px;
  color: #dfdeee;
  font-size: 13px;
}

.forgetpass {
  position: relative;
  float: right;
  right: 28px;
}

.dnthave{
    position: absolute;
    top: 92%;
    left: 24%;
}

.returnLogin{
  position:absolute;
  top: 94%;
  left: 38%;
}

.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3b476b;
  font-size: 22px;
  cursor: pointer;
}      

.typcn.active {
  color: #eb60c8;
}

.error {
  background: #ff3333;
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: white;
  display: none;
}

h1.welcome{
  color: var(--cyan);
}

.walletContainer h5{
  margin: 23px;
  padding-top: 30px;
  padding-bottom: 30px;

  padding-left: 20px;
  padding-right: 20px;

  top: 200px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid var(--mblue);
  border-bottom: 10px solid var(--teal);

  box-shadow: 1px 1px 108.8px 19.2px rgb(2, 5, 53);
  color: var(--cyan);
}

.navBar {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bluebkg);
}

.navBar li {
  float: left;
}

.navBar li a {
  display: block;
  color: var(--mblue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover:not(.active) {
  color: var(--cyan);
  font-size: larger;
  padding: 10px 10px;
}


/* MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content */
.modal-content {
  border-top: 10px solid var(--mblue);
  border-bottom: 10px solid var(--teal);
  border-radius: 10px;
  position: relative;
  background-color: var(--bluebkg);
  margin: auto;
  padding: 0;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s

}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {
  padding: 2px 16px;
  border-radius: 10px;
}

.modal-body h3{
  font-size: 25px;
  color: var(--mblue);
  padding: 3px;
  margin: 3px;
}

.changePassBox h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--mblue); 
  font-size: 50px;
  margin-top:21px;;
}

.changePassBox h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--mblue); 
  font-size: 18px;
  margin-top:-5px;;
}

.changePassBox h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.changePassBox h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-top: -10px;
  margin-bottom: 45px;
}

.changePassBox input[type = "password"] {
  display: block;
  margin: 20px auto;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}

.changePassBox input[type = "password"]:focus {
  border: 1px solid #79A6FE;
}

.returnLogin{
  padding-top: 10px;
  padding-bottom: 10px;
}

.changePassContainer{
  margin: 0;
  top: 120px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid var(--mblue);
  border-bottom: 10px solid var(--teal);
  width: 400px;
  height: 425px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(2, 5, 53);
}


.transactionBox h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--mblue); 
  font-size: 50px;
  margin-top:21px;;
}

.transactionBox h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--mblue); 
  font-size: 18px;
  margin-top:-5px;;
}

.transactionBox h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.transactionBox h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-top: -10px;
  margin-bottom: 45px;
}

.transactionBox input[type = "text"], .transactionBox input[type = "number"], .transactionBox input[type = "password"] {
  display: block;
  margin: 20px;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}

.transactionBox input[type = "text"]:focus, .transactionBox input[type = "number"]:focus, .transactionBox input[type = "password"]:focus {
  border: 1px solid #79A6FE;
}

.transactionBox select{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  border: 1px solid #79A6FE;
  display: block;
  margin: 20px;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.transactionBox input[type = "submit"]{
  background-color: var(--mblue);
  border-radius: 5px;
}

.transactionSummary{
  color: white;
}

.transSumTable{
  text-align: left;
}

#confirmOrder{
  color: white;
  font-size: 22px;
  padding: 4px;
  margin: 4px; 
}

#tickerQuant::placeholder{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #d6d6d6;
  opacity: 40%;
}
